@model IEnumerable<BoletinesCovid19Dengue.Models.Bulletin>

<!-- Start main-content -->
<div class="main-content-area">
    <!-- Section: home Start -->
    <section id="home">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col">
                    <!-- START Home Slider REVOLUTION SLIDER 6.0.8 -->
                    <p class="rs-p-wp-fix"></p>
                    <rs-module-wrap id="rev_slider_3_1_wrapper" data-alias="covid-rev-slider" data-source="gallery">
                        <rs-module id="rev_slider_3_1" data-version="6.1.7">
                            <rs-slides>
                                <rs-slide data-key="rs-5" data-title="Slide" data-thumb="http://placehold.it/1920x1280" data-anim="ei:d;eo:d;s:d;r:0;t:slidingoverlaydown;sl:d;">
                                    <img src="~/images/Portada1.jpg" title="as1.jpg" width="1920" height="1280" data-parallax="1" class="rev-slidebg" data-no-retina>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-5-layer-0"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:m;yo:-200px,-175px,-150px,-120px;"
                                              data-text="w:normal;s:22,21,19,20;l:26,20,25,21;ls:1px,0px,0px,0px;fw:300;"
                                              data-frame_0="x:-50,-39,-29,-17;"
                                              data-frame_1="st:840;sp:1000;sR:840;"
                                              data-frame_999="o:0;st:w;sR:7160;"
                                              style="z-index:12;font-family:CeraRoundPro-Bold;font-style:italic;">
                                        Salvar el planeta del Coronavirus
                                    </rs-layer>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-5-layer-1"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:t,t,m,m;yo:240px,233px,-18px,0;"
                                              data-text="w:normal;s:76,59,58,46;l:90,78,68,54;fw:900;a:left,left,left,center;"
                                              data-frame_0="x:-50,-39,-29,-17;"
                                              data-frame_1="st:1680;sp:1000;sR:1680;"
                                              data-frame_999="o:0;st:w;sR:6320;"
                                              style="z-index:11;font-family:CeraRoundPro-Bold;">
                                        Observatorio<br />
                                        Covid-19 & Dengue <br />
                                        En Honduras
                                    </rs-layer>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-5-layer-6"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:m;yo:170px,160px,150px,143px;"
                                              data-text="w:normal;s:20,20,20,20;l:25,25,25,25;a:left,left,left,center;"
                                              data-frame_0="x:50,39,29,17;"
                                              data-frame_1="st:2530;sp:1000;sR:2530;"
                                              data-frame_999="o:0;st:w;sR:5470;"
                                              style="z-index:8;font-family:Roboto;">
                                        @*<a href="http://wp.kodesolution.live/2020/nonprofit/novio/demo/donations/support-a-campaign/" class="btn btn-theme-colored1 btn-round" target="_blank">Learn More</a>*@
                                    </rs-layer>
                                    <!--
                                    -->
                                </rs-slide>
                                <rs-slide data-key="rs-8" data-title="Slide" data-thumb="http://placehold.it/1920x1280" data-anim="ei:d;eo:d;s:d;r:0;t:slidingoverlaydown;sl:d;">
                                    <img src="~/images/Portada2.jpg" title="as3.jpg" width="1920" height="1280" data-parallax="1" class="rev-slidebg" data-no-retina>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-8-layer-0"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:m;yo:-200px,-175px,-150px,-120px;"
                                              data-text="w:normal;s:22,21,19,20;l:26,20,25,21;ls:1px,0px,0px,0px;fw:300;"
                                              data-frame_0="x:-50,-39,-29,-17;"
                                              data-frame_1="st:840;sp:1000;sR:840;"
                                              data-frame_999="o:0;st:w;sR:7160;"
                                              style="z-index:12;font-family:CeraRoundPro-Bold;font-style:italic;">
                                        Salvar el planeta del Coronavirus
                                    </rs-layer>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-8-layer-1"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:t,t,m,m;yo:240px,233px,-18px,0;"
                                              data-text="w:normal;s:76,59,58,46;l:90,78,68,54;fw:900;a:left,left,left,center;"
                                              data-frame_0="x:-50,-39,-29,-17;"
                                              data-frame_1="st:1680;sp:1000;sR:1680;"
                                              data-frame_999="o:0;st:w;sR:6320;"
                                              style="z-index:11;font-family:CeraRoundPro-Bold;">
                                        Observatorio<br />
                                        Covid-19 & Dengue <br />
                                        En Honduras
                                    </rs-layer>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-8-layer-6"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:m;yo:170px,160px,150px,143px;"
                                              data-text="w:normal;s:20,20,20,20;l:25,25,25,25;a:left,left,left,center;"
                                              data-frame_0="x:50,39,29,17;"
                                              data-frame_1="st:2530;sp:1000;sR:2530;"
                                              data-frame_999="o:0;st:w;sR:5470;"
                                              style="z-index:8;font-family:Roboto;">
                                        @*<a href="http://wp.kodesolution.live/2020/nonprofit/novio/demo/donations/support-a-campaign/" class="btn btn-theme-colored1 btn-round" target="_blank">Learn More</a>*@
                                    </rs-layer>
                                    <!--
                                    -->
                                </rs-slide>
                                <rs-slide data-key="rs-9" data-title="Slide" data-thumb="http://placehold.it/1920x1280" data-anim="ei:d;eo:d;s:d;r:0;t:slidingoverlaydown;sl:d;">
                                    <img src="~/images/Portada3.jpg" title="as2.jpg" width="1920" height="1280" data-parallax="1" class="rev-slidebg" data-no-retina>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-9-layer-0"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:m;yo:-200px,-175px,-150px,-120px;"
                                              data-text="w:normal;s:22,21,19,20;l:26,20,25,21;ls:1px,0px,0px,0px;fw:300;"
                                              data-frame_0="x:-50,-39,-29,-17;"
                                              data-frame_1="st:840;sp:1000;sR:840;"
                                              data-frame_999="o:0;st:w;sR:7160;"
                                              style="z-index:12;font-family:CeraRoundPro-Bold;font-style:italic;">
                                        Salvar el planeta del Coronavirus
                                    </rs-layer>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-9-layer-1"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:t,t,m,m;yo:240px,233px,-18px,0;"
                                              data-text="w:normal;s:76,59,58,46;l:90,78,68,54;fw:900;a:left,left,left,center;"
                                              data-frame_0="x:-50,-39,-29,-17;"
                                              data-frame_1="st:1680;sp:1000;sR:1680;"
                                              data-frame_999="o:0;st:w;sR:6320;"
                                              style="z-index:11;font-family:CeraRoundPro-Bold;">
                                        Observatorio<br />
                                        Covid-19 & Dengue <br />
                                        En Honduras
                                    </rs-layer>
                                    <!--
                                    -->
                                    <rs-layer id="slider-3-slide-9-layer-6"
                                              data-type="text"
                                              data-rsp_ch="on"
                                              data-xy="x:l,l,l,c;xo:60px,60px,45px,0;y:m;yo:170px,160px,150px,143px;"
                                              data-text="w:normal;s:20,20,20,20;l:25,25,25,25;a:left,left,left,center;"
                                              data-frame_0="x:50,39,29,17;"
                                              data-frame_1="st:2530;sp:1000;sR:2530;"
                                              data-frame_999="o:0;st:w;sR:5470;"
                                              style="z-index:8;font-family:Roboto;">
                                        @*<a href="http://wp.kodesolution.live/2020/nonprofit/novio/demo/donations/support-a-campaign/" class="btn btn-theme-colored1 btn-round" target="_blank">Learn More</a>*@
                                    </rs-layer>
                                    <!--
                                    -->
                                </rs-slide>
                            </rs-slides>
                            <rs-progress class="rs-bottom" style="height: 5px; background: rgba(234,234,234,0.5);"></rs-progress>
                        </rs-module>
                    </rs-module-wrap>
                    <!-- END REVOLUTION SLIDER -->
                </div>
            </div>
        </div>
    </section>
    <!-- Section: home End -->
    <!-- Section: About Start -->
    @foreach (var item in Model)
    {
        <section data-tm-bg-img="images/bg/pattern-bg1.png">
            <div class="container pb-90">
                <div class="section-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="layer-image mb-md-40"> <img src="@Html.DisplayFor(modelItem => item.imagen)" class="rounded" alt="Image"></div>
                        </div>

                        <div class="col-lg-6">
                            <h6 class="text-theme-colored1">
                                @item.fecha_publicacion.ToString("d MMMM yyyy")
                            </h6>

                            @*<h6 class="text-theme-colored1">@item.fecha_publicacion.ToShortDateString()</h6>*@
                            <h2 class="mt-0 mb-25">@item.titulo</h2>
                            <p class="text-justify">@item.descripcion</p>
                            <a href="@Html.DisplayFor(modelItem => item.archivo_pdf)" target="_blank" class="btn btn-theme-colored1 mt-25">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <!-- Section: About End -->
    <!-- Section: Spread Start-->
            <section>
                <div class="container pt-0 pb-70">
                    <div class="section-title">
                        <div class="row justify-content-md-center">
                            <div class="col-md-8">
                                <div class="text-center mb-60">
                                    <div class="section-title">
                                        <div class="title-wrapper">
                                            <h2 class="title"> Boletines <span class="text-theme-colored1">Informativos</span> Covid & Dengue</h2>
                                            <div class="paragraph">
                                                <p>En este sitio encontraras informacion actualizada sobre los temas del Covid19 y Dengue en Honduras, te invitamos que continues visitando nuestro sitio.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="spread-box mb-30">
                                    <div class="spread-thumb">
                                        <img src="\images\LogoPie.png" alt="">
                                    </div>
                                    <div class="spread-details">
                                        <h5 class="title">Observatorio</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="spread-box mb-30">
                                    <div class="spread-thumb">
                                        <img src="\images\CovidPie.png" alt="">
                                    </div>
                                    <div class="spread-details">
                                        <h5 class="title">Covid19</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="spread-box mb-30">
                                    <div class="spread-thumb">
                                        <img src="\images\DenguePie.png" alt="">
                                    </div>
                                    <div class="spread-details">
                                        <h5 class="title">Dengue</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="spread-box mb-30">
                                    <div class="spread-thumb">
                                        <img src="\images\UnitecPie.png" alt="">
                                    </div>
                                    <div class="spread-details">
                                        <h5 class="title">Ceutec</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <!-- Section: Spread End -->
</div>
<!-- end main-content -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>